@import url(//db.onlinewebfonts.com/c/7655d129d0addb2f08a5c1dc994aaa4b?family=Brush+Script+MT);

.navbar-inverse {
    background-color: #efbf3b; 
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #efbf3b;   
}

.navbar-inverse .navbar-brand {
    color: black;
    font-size: 50px;
}

a {
    font-size: 30px;
}

#btn-menor {
    width: 32%;
    display: inline-block;
    margin-left: 3px;
}

#paddings {
    padding: 0%;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}

/* @font-face {
    font-family: "Brush Script MT", cursive;
    src: URL('BRUSHSCI.TTF') format('truetype');
  } */

  @font-face {font-family: "Brush Script MT"; src: url("//db.onlinewebfonts.com/t/7655d129d0addb2f08a5c1dc994aaa4b.eot"); src: url("//db.onlinewebfonts.com/t/7655d129d0addb2f08a5c1dc994aaa4b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7655d129d0addb2f08a5c1dc994aaa4b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7655d129d0addb2f08a5c1dc994aaa4b.woff") format("woff"), url("//db.onlinewebfonts.com/t/7655d129d0addb2f08a5c1dc994aaa4b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7655d129d0addb2f08a5c1dc994aaa4b.svg#Brush Script MT") format("svg"); }

.logo {
    font-family: "Brush Script MT";
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}          

.titulo-principal {
    text-align: center;
    font-size: 128px;
    margin-bottom: 3rem;
    margin-top: 16rem;
}

.slogan {
    text-align: center;
    margin-bottom: 5rem;
}

.container {
    margin-top: 6rem;
}

.img-logo {
    margin: 0 auto;
}

.img-ferradura {
    margin: 0 auto;
    width: 625px;
    margin-bottom: 1rem;
}

.primeira-imagem {
    margin-top: 13rem;
}

.descricao {
    text-align: center;
    font-weight: bold;
    margin-top: 5rem;
}

footer {
    height: 50px;
    bottom: 0;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

/* Página bares  */
.img-bares {
    width: 250px;
}

.titulo-produto {
    text-align: center;
}

/* Página Clientes */
.grupo-clientes {
    margin-bottom: 25%;
}

.imagem-cliente {
    width: 320px;
    height: 240px;
}

/* Página videos */
.video-criativo {
    width: 320px;
    display: block;
    margin: 0 auto;
    margin-top: 6rem;
}

/* sobre */
.texto-sobre {
    font-size: 30px;
}

.joao-trabalhando {
    margin-top: 20rem;
}

/* margin */
.video {
    margin-top: 20rem;
}

/* zoom imagem */
.zoom {
    display: inline-block;
  }

.img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
}

.drift-open {
    width: 40%;
    height: 50%;
}

.drift-closing {
    width: 40%;
    height: 50%;
}

@media (min-width: 768px) {
    body {
        padding-top: 0px;
    }

    a {
        font-size: 30px;
        margin-left: 1rem;
    }

    #btn-menor {
        display: block;
        width: 12rem;
    }

    .container {
        margin-top: 15rem;
    }

    #paddings {
        padding: 15px 15px;
    }

    .titulo-principal {
        margin-top: 0;
    }

    .grupo-clientes {
        margin-bottom: 10%;
    }

    .primeira-imagem {
        margin-top: 0;
    }

    .joao-trabalhando {
        margin-top: 0;
    }

    .video {
        margin-top: 0;
    }

    .imagem-animais-box {
        height: 230px;
        width: 700px;
    }
    
    .imagem-animais {
        width: 700px;
    }

    .video-criativo {
        width: 640px;
        height: 480px;
        display: block;
        margin: 0 auto;
        margin-top: 6rem;
    }
}

/* pagina de cada cliente */
.img-box {
    width: 90%;
    margin: 50px auto 20px;
}

.img-box img {
    width: 100%;
    border: 4px solid #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .25);
    margin-bottom: 2rem;
}

.thumb {
    padding-left: 10px;
}

ul.thumb li {
    list-style: none;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    margin-top: 15rem;
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  @media (min-width: 768px) {
    .modal {
        margin-top: 5rem;
    }
  }
